@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Montserrat", Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffc107;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
}

p {
  color: #444;
  line-height: 1.5;
  font-family: "Montserrat", Arial, sans-serif;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#nivel-1 .image-option img {
  width: 350px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

#nivel-2 .image-option img {
  width: 500px;
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

.options {
  display: flex;
  justify-content: center;
}

.option {
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.corner-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

header h1,
.options button {
  color: #000;
}

button.option {
  background-color: aqua;
}

footer p {
  color: #fff;
}