@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  color: #010334;
  background-color: #eef0ff;
  line-height: 2.2;
}

header {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  position: relative;
}

.logo-img {
  position: absolute;
  top: 36px;
  left: 100px;
  width: 25px;
  height: auto;
  transform: scale(5);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-size: 20px;
  color: #010334;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #2156fa;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s, opacity 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

nav ul .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  color: #010334;
}

.dropdown-content a:hover {
  background-color: #2156fa;
  color: #fff;
}

main {
  padding: 20px;
}

section h2 {
  margin-top: 0;
  color: #212a3e;
  font-size: 28px;
  margin-bottom: 15px;
}

section p {
  margin-bottom: 10px;
}

section ul {
  margin-bottom: 20px;
}

section li {
  margin-bottom: 5px;
}

footer {
  background-color: #212a3e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.corner-link {
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 9999;
}

.corner-link img {
  height: 32px;
  width: 88px;
}

.logo-link {
  color: black;
  text-decoration: none;
}

h1 {
  display: none;
}

.video-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.video-slider {
  position: relative;
  padding-bottom: 56.25%;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-controls {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-controls button {
  padding: 10px 20px;
  background-color: #2156fa;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.video-controls button:hover {
  background-color: #123a99;
}

@media (max-width: 760px) {
  .logo-img {
    top: 20px;
    left: 50px;
    transform: scale(4);
    margin: 2px;
  }

  .corner-link {
    top: 8px;
    margin: 5px;
  }

  .nav-list a {
    top: 40px;
    margin: 5px;
  }
}

/* Estilo para mostrar el menú desplegable cuando se añade la clase "show" */
.navbar-nav .dropdown-menu.show {
  display: block;
}

/* Ajuste para las sub-listas */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
